/1- Basic/Primeiro/nbproject/private/
/1- Basic/Primeiro/build/
/1- Basic/Teste/nbproject/private/
/1- Basic/Teste/build/
/1- Basic/Tipos/nbproject/private/
/1- Basic/Tipos/build/
/1- Basic/EntradaDados/nbproject/private/
/1- Basic/EntradaDados/build/
/1- Basic/Idade/nbproject/private/
/1- Basic/Idade/build/
/1- Basic/Operacoes/nbproject/private/
/1- Basic/Operacoes/build/
/1- Basic/Media/nbproject/private/
/1- Basic/Media/build/
/1- Basic/IMC/nbproject/private/
/1- Basic/IMC/build/
/2- If-Else and Loops/Ifelse/nbproject/private/
/2- If-Else and Loops/Ifelse/build/
/2- If-Else and Loops/AprovadoReprovado/nbproject/private/
/2- If-Else and Loops/AprovadoReprovado/build/
/2- If-Else and Loops/Bhaskara/nbproject/private/
/2- If-Else and Loops/Bhaskara/build/